<div class="side-banner">
  <%= link_to image_tag("subnavi_group.jpeg", class: "side-banner__img"), "/lesson" %>
  <%= image_tag "subnavi_dress.jpeg", class: "side-banner__img" %>
  <%= image_tag "subnavi_lesson.jpg", class: "side-banner__img" %>
  <%= image_tag "subnavi_staff.jpg", class: "side-banner__img" %>
  <%= image_tag "subnavi_circle.jpg", class: "side-banner__img" %>
  <%= image_tag "subnavi_school.jpg", class: "side-banner__img" %>
</div>