<%= image_tag "slide01.jpg", class: "top-img" %>
<div class="top-content">
  <div class="top-content__main">
    <h2 class="top-content__main-title">ようこそ!!ダンス教室へ</h2>
    <div class="top-content__main-about">
      <%= image_tag "ph_greeting.jpg", class: "top-content__main-about__img" %>
      <p>自分自身を磨き・相手に思いやりを持ち・音楽を楽しむ、そんな社交ダンスの楽しさを、是非皆さまに知って頂きたく、個人指導、カップルレッスン、グループレッスン等、皆さまのご要望に答えられるように、幅広いシステムをご用意しております。まずは一度、足を運んでみてください。</p>
    </div>
  </div>
  <div class="top-content__infomation">
    <p><a class="color-orange">Infomation</a> 初回無料体験チケット</p>
    <%= image_tag "bn_ticket.gif", class: "top-content__infomation__img" %>
  </div>
</div>
<div class="banner">
  <div class="banner-content">
    <%= image_tag "bn_group.jpeg", class: "banner-content__main" %>
    <%= image_tag "bn_dress.jpeg", class: "banner-content__main" %>
  </div>
  <div class="banner-content">
    <%= image_tag "bn_lesson.jpg", class: "banner-content__sub" %>
    <%= image_tag "bn_staff.jpg", class: "banner-content__sub" %>
    <%= image_tag "bn_circle.jpg", class: "banner-content__sub" %>
    <%= image_tag "bn_school.jpg", class: "banner-content__sub" %>
  </div>
</div>