<!DOCTYPE html>
<html>

<head>
  <title>DanceSite</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <a>タイトル</a>
    <div class="header-content">
      <%= link_to image_tag("mainlogo.gif"), root_path %>
      <div class="header-content__number">
        <a>お問い合わせは</a>
        <h5>0000-00-0000</h5>
      </div>
    </div>
  </header>
  <div id="nav">
    <ul class="nav-ul">
      <li>
        <h4>HOME</h4>
        <a>ホーム</a>
      </li>
      <li>
        <h4>LESSON</h4>
        <a>レッスン料金<a>
      </li>
      <li>
        <h4>STAFF</h4>
        <a>スタッフ紹介</a>
      </li>
      <li>
        <h4>CIRCLE</h4>
        <a>関連サークル紹介</a>
      </li>
      <li>
        <h4>SCHOOL</h4>
        <a>スクール概要</a>
      </li>
      <li>
        <h4>CONTACT</h4>
        <a>お問い合わせ</a>
      </li>
    </ul>
  </div>
  <main>
    <%= yield %>
  </main>
  <footer></footer>
</body>

</html>